body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D93A28;
  color: #F4F0F1;
}

.hero--about {
  height: calc(100vh - 2rem);
}

.header__hero h2,
.nav {
  font-family: 'Bungee Hairline', cursive;
}

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.hero__img {
  display: block;
  min-height: 100%;
  min-width: 100%;
}

.hero__stats {
  text-align: left;
}

.hero__statsItem {
  margin: 0.5rem 0;
  list-style-type: none;
}

.hero__statsItemLabel {
  font-family: 'Bungee Hairline', cursive;
}

.nav {
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: left;
  justify-content: flex-start;
  background-color: #F4F0F1;
}

.nav__item {
  display: inline;
  margin: 0 0.5rem;
}

.nav__link {
  color: #D93A28;
  text-decoration: none;
}

.nav__link--active {
  text-decoration: underline;
  font-weight: bold;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.projects__project {
  width: 500px;
  margin: 0 2.5%;
  border: 1px solid #ccc;
}

.projects__projectLink {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1116px) {
  .projects__project {
    margin-bottom: 2rem;
  }
}
