body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.header__hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D93A28;
  color: #F4F0F1;
}

.header__hero h2,
.nav {
  font-family: 'Bungee Hairline', cursive;
}

.nav {
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: left;
  justify-content: flex-start;
  background-color: #F4F0F1;
}

.nav__item {
  display: inline;
  margin: 0 0.5rem;
}

.nav__link {
  color: #D93A28;
  text-decoration: none;
}

.nav__link--active {
  text-decoration: underline;
  font-weight: bold;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__project {
  margin: 0 2.5%;
  border: 1px solid #ccc;
}
