body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.header__hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__hero h2,
.nav {
  font-family: 'Bungee Hairline', cursive;
}

.nav {
  margin: 0;
  text-align: left;
  justify-content: flex-start;
}

.nav__item {
  display: inline;
}

.projects__container {
  display: flex;
}

.projects__project {
  width: 50%;
}
